.header__menu{
  margin: 0;
  width: 695px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 19px 165px 21px 0;
}