.vaccine{
  margin: 0;
  width: 540px;
  height: 528px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px dashed #726060;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: #F5F2EE;
}